<template>
<div class="">
  <div class="columns topColorHint"></div>
  <div class="columns navMod padBothSides">
    <div class="column col-md-12">
      <div class="navbar">
        <section class="navbar-section">
          <a href="/" class="navbar-brand mr-10">Stormer</a>
        </section>
        <section class="navbar-section">
          <a class="btn btn-lg btn-twitter" @click="socialShare" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://stormerapp.co" target="_blank" href="https://twitter.com/intent/tweet?text=Too long for a tweet? too short for blogpost? Turn it into a Twitter thread with Stormer&amp;hashtags=stormerapp&amp;url=https://stormerapp.co&amp;via=stormerapp">
            <icon name="share-alt"></icon>
            <span>
              Share
            </span>
          </a>
          <a v-if="!userData" :href="live" class="btn btn-lg btn-login btn-rounded" @click="login"><icon name="twitter"></icon> Sign in</a>
          <a v-if="userData" href="" class="btn btn-lg btn-login btn-rounded" @click="logout">Sign out</a>
        </section>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import 'vue-awesome/icons/twitter'
import 'vue-awesome/icons/share-alt'
export default {
  data () {
    return {
      userData: null,
      live: 'https://stormerapi.herokuapp.com/auth/login',
      dev: 'http://localhost:3001/auth/login'
    }
  },
  beforeMount () {
    this.getUser()
  },
  methods: {
    getUser () {
      const user = JSON.parse(window.localStorage.getItem('stormerapp'))
      const currentTime = new Date().getTime() / 1000
      if (user && currentTime < user.exp) {
        // if token hasnt expired
        this.userData = user.data
      }
    },
    logout () {
      this.$ga.event({
        eventCategory: 'buttons',
        eventAction: 'click',
        eventLabel: 'Logout',
        eventValue: 'success'
      })
      window.localStorage.removeItem('stormerapp')
      window.localStorage.removeItem('stormerAppToken')
      this.$router.push('/')
    },
    socialShare () {
      this.$ga.event({
        eventCategory: 'buttons',
        eventAction: 'click',
        eventLabel: 'Shared',
        eventValue: 'Shared'
      })
    },
    login () {
      this.$ga.event({
        eventCategory: 'buttons',
        eventAction: 'click',
        eventLabel: 'Shared',
        eventValue: 'Shared'
      })
    }
  }
}
</script>

<style scoped>

.navMod {
  height: 60px;
  background: #fff;
  box-shadow: rgb(100, 100, 100) 0px 0px 4px;;
  z-index: 30;
}

a {
  color: #42b983;
}

.topColorHint {
  background: #4b4a77;
  height: 4px;
}

.navbar {
  margin-top: 8px;
}
.navbar-brand {
  font-size: 1.6em !important;
  color: #4b4a77
}
.btn-rounded {
  border-radius: 4px !important;
}
.btn-login {
  color: #4b4a77;
  border-width: 1px;
  background: #fff;
  transition: 0.3s
}

.btn-login:hover {
  color: #fff !important;
  border-width: 1px;
  background: #4b4a77;
  box-shadow: 0 0 4px #4b4a77
}
.btn-twitter {
  color: #fff;
  border-width: 1px;
  border-radius: 4px !important;
  border-color: #1da1f2;
  background: #1da1f2;
  transition: 0.3s
}

.btn-twitter:hover {
  color: #1da1f2 !important;
  border-width: 1px;
  background: #fff;
  box-shadow: 0 0 4px #1da1f2
}

@media screen and (max-width: 840px) {
  
}

</style>
