<template>
  <div class="columns">
    <div class="column bgColor">
      <div class="footer padBothSides">
        <div class="navbar">
          <section class="navbar-section Links">
            <a href="https://pitech.com.ng" class="btn btn-link">© 2017, PiTech.</a>
          </section>
          <section class="navbar-section Links">
            <a href="/terms" class="btn btn-link">Terms</a>
            <a href="/privacy" class="btn btn-link">Privacy</a>
          </section>
        </div>   
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.footer {
  color: #F7F7F7;
  background-color: #4b4a77;
  padding-top: .4em;
  height: 4em;
}
.socialLinks {
  border-top-width: 0.00000000001em;
  border-bottom-width: 0.001em;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: #e6e6e6;
  height: 4em;
}
.Links > a {
  color: #F7F7F7 !important;
}
.Links > a:hover {
  text-decoration: underline;
}
.bgColor {
  background-color: #4b4a77;
}
</style>
