<template>
<div class="container">
  <custom-header></custom-header>
  <div class="columns paddedPage marginTop">
    <div class="column heroSuper col-md-12">
      <div class="hero">
          <div class="heroContent text-left padBothSides">
            <h3>For those times when 140 <br>characters are just not enough <br>to express that feel!</h3>
            <div class="empty-action">
              <button class="btn btn-primary btn-lg btn-rounded btn-cta" @click="cTa">Start posting for FREE!</button>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="columns marginTop paddingTopBottom">
    <div class="column col-6 padBothSidesALittle col-md-12 alignCenter">
      <div class="circle imagesD float-right">
        <feather-icon type="thumbs-up"></feather-icon>
      </div>
    </div>
    <div class="column col-6 padBothSidesALittle paddingTopBottom col-md-12 alignCenter">
        <h1>Easy to use</h1>
        <p class="padRight alignCenter">Paste or write long text, add pictures if you want and Stormer will break them into tweet-long chunks, number them if you want and then post them sequentially as a Twitter thread. You can also set intervals between tweets to make it seem natural!</p>
    </div>
  </div>
  <div class="padBothSides">
    <hr>
  </div>
  <div class="columns marginTop paddingTopBottom">
    <div class="column col-6 padBothSidesALittle col-md-12 alignCenter show-sm show-xs show-md">
      <div class="circle imagesD float-right">
        <feather-icon type="fast-forward"></feather-icon>
      </div>
    </div>
    <div class="column col-6 padBothSidesALittle paddingTopBottom col-md-12 alignCenter">
        <h1 class="padLeftText">Fast to use</h1>
        <p class="padLeft">Stormer is super fast, instead of replying to tweets one by one, it does that for you automatically, with no limit on the number of tweets per minute* for absolutely free for as long as we can support it. <br><small>*Twitter's API rate limiting applies.</small> </p>
    </div>
    <div class="column col-6 padBothSidesALittle col-md-12 alignCenter hide-md hide-sm hide-xs">
      <div class="circle imagesD">
        <feather-icon type="fast-forward"></feather-icon>
      </div>
    </div>
  </div>
  <div class="padBothSides">
    <hr>
  </div>
  <div class="columns marginTop paddingTopBottom">
    <div class="column col-6 padBothSidesALittle col-md-12 alignCenter">
      <div class="circle imagesD float-right">
        <feather-icon type="lock"></feather-icon>
      </div>
    </div>
    <div class="column col-6 padBothSidesALittle paddingTopBottom col-md-12 alignCenter">
        <h1>Safe to use</h1>
        <p class="padRight">Stormer neither tracks you nor collects any personal information asides your already publicly available Twitter username.</p>
    </div>
  </div>
  <custom-footer></custom-footer>
</div>
</template>

<script>
import CustomFooter from '@/components/CustomFooter'
import CustomHeader from '@/components/CustomHeader'
var jwtDecode = require('jwt-decode')
export default {
  name: 'landing',
  beforeRouteEnter (to, from, next) {
    const token = to.query.token
    if (token) {
      window.localStorage.setItem('stormerAppToken', token)
      const decoded = jwtDecode(token)
      // save decoded in localstorage
      window.localStorage.setItem('stormerapp', JSON.stringify(decoded))
      const currentTime = new Date().getTime() / 1000
      if (currentTime > decoded.exp) {
        // expired
        next()
      } else {
        next('/main')
      }
    } else {
      next()
    }
  },
  data () {
    return {
      msg: '',
      live: 'https://stormerapi.herokuapp.com/auth/login',
      dev: 'http://localhost:3001/auth/login'
    }
  },
  components: {
    CustomFooter, CustomHeader
  },
  methods: {
    cTa () {
      this.$ga.event({
        eventCategory: 'buttons',
        eventAction: 'click',
        eventLabel: 'CallTOAction',
        eventValue: 'CTA'
      })
      const user = JSON.parse(window.localStorage.getItem('stormerapp'))
      const currentTime = new Date().getTime() / 1000
      if (user && currentTime < user.exp) {
        // if token hasnt expired
        this.$router.push('/main')
      } else {
        window.location.href = this.live
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.btn-cta {
  background: #4b4a77;
  font-size: 1.2em;
  border-width: 1px;
  color: #fff;
  transition: 0.3s
}

.btn-cta:hover {
  color: #4b4a77;
  background: #fff;
  margin-top: -1px;
  box-shadow: 0 0 4px #4b4a77
}
.marginTop {
  margin-top: 2px;
}
.heroSuper {
  padding-left: 0px;
  padding-right: 0px;
}
.hero {
  background-color: whitesmoke;
  background-image: url(/static/img/pattern21.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 24em;
}
.btn-rounded {
  border-radius: 4px !important;
}
.heroContent {
  padding-top: 8em;
}

.heroContent > h3 {
  font-size: 2em;
}

.heroContent > p {
  margin-bottom: 1.5em;
}

.imagesD {
  height: 240px;
  width: 240px;
}

.circle > svg {
    width: 12em !important;
    height: 12em !important;
    stroke: #4b4a77;
}

@media screen and (max-width: 840px) {
  .imagesD {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

  .alignCenter {
    text-align: center;
  }
.heroContent {
  padding-top: 6em;
}

.heroContent > h3 {
  font-size: 1.5em;
  line-height: 1.55em;
}

}
</style>
