<template>
  <div class="container">
    <custom-header></custom-header>
    <div class="columns marginTop padBothSidesReduce paddingBottomSmall">
      <div class="column col-md-12">
        <ul class="tab tab-block">
          <li class="tab-item active">
            <a href="#" class="active">Compose</a>
          </li>
        </ul>
        <div class="">
          <textarea class="form-input" placeholder="Paste or start typing here" rows="14" v-model="postText" autofocus></textarea>
        </div>
      </div>
      <div class="column col-md-12">
        <ul class="tab tab-block">
          <li class="tab-item">
            <a href="#">Preview</a>
          </li>
        </ul>
        <div class="empty" v-bind:class="{ 'displayOrNot': isActive }">
          <div class="empty-icon">
            <icon name="edit" scale="2"></icon>
          </div>
          <p class="empty-title h5">Paste or start typing to see a preview</p>
        </div>
        <div class="empty emptyPadding" v-bind:class="{ 'displayOrNot': !isActive }">
          <tweet-preview v-for="(item, index) in isPostText" v-on:imageadded="imagesAdded(index, $event)" :tweet="item" v-bind:key="index"></tweet-preview>
        </div>
      </div>
    </div>
    <div class="navBottomFixed">
      <div class="columns navModBottom padBothSides">
        <div class="column">
          <div class="navbar padBothSides">
            <section class="navbar-section justifyContent">
              <label class="form-switch">
                <input type="checkbox" checked v-model="toggleLength"/>
                <i class="form-icon"></i> {{toggleLength | displayCount }}
              </label>
              <label class="form-switch">
                <input type="checkbox" checked v-model="toggleNumber"/>
                <i class="form-icon"></i> Number
              </label>
            </section>
            <section class="navbar-center removePadding">
              <label class="form-label" for="range">Interval</label>
              <input class="slider" type="range" id="range" min="0" max="60" value="1" v-model="interval"/>
              <label class="form-label" for="range">{{interval}} sec</label>
            </section>
            <section class="navbar-section justifyContent">
              <button class="btn btn-lg btn-rounded btn-post" v-bind:class="{ 'btn disabled': isLoading }" @click="doPosting">Post Tweets <icon name="edit"></icon></button>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div> <br></div>
    <custom-footer></custom-footer>
    <modal name="postingModal">
      <div class="columns">
        <div class="column text-center postingModal">
            <h1>Posting tweets...</h1>
            <progress class="progress" max="100"></progress>
        </div>
      </div>
    </modal>
    <modal name="successModal">
      <div class="columns">
        <div class="column text-center postingModal">
            <i class="icon icon-check"></i>
            <h1>Done.</h1>
        </div>
      </div>
    </modal>
    <modal name="failedModal">
      <div class="columns">
        <div class="column text-center postingModal">
            <i class="icon icon-cross"></i>
            <h1>{{failError}}</h1>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import 'vue-awesome/icons/edit';
import autosize from 'autosize';
import CustomFooter from '@/components/CustomFooter';
import CustomHeader from '@/components/CustomHeader';
import tweetPreview from '@/components/tweetPreview';

import axios from 'axios';
export default {
  name: 'main',
  data() {
    return {
      isActive: false,
      postText: null,
      toggleNumber: true,
      toggleLength: true,
      postDataObject: {},
      interval: 1,
      disabled: '',
      isLoading: false,
      failError: '',
      live: 'https://stormerapi.herokuapp.com/v1',
      dev: 'http://localhost:3001/v1'
    };
  },
  mounted() {
    this.postDataObject = {};
    autosize(document.querySelector('textarea'));
  },
  components: {
    CustomFooter,
    CustomHeader,
    tweetPreview
  },
  filters: {
    displayCount (value) {
      if (value) {
        return 140
      } else {
        return 280
      }
    }
  },
  methods: {
    formatPostText(text, numberChunks, prefferedLength) {
      let chunkLength = numberChunks
        ? prefferedLength - 5
        : prefferedLength - 2;
      let i = 0;
      let str;
      let newline;
      let breakpt;
      let formatted = [];
      while (i + chunkLength < text.length) {
        str = text.substr(i, chunkLength);
        newline = str.indexOf('\n');
        if (newline !== -1) {
          formatted.push(str.substr(0, newline + 1));
          i += newline + 1;
          continue;
        }
        breakpt = str.lastIndexOf(' ');
        formatted.push(str.substr(0, breakpt));
        i += breakpt + 1;
      }
      formatted.push(text.substr(i, text.length));
      // add numbers or not then return
      if (numberChunks) {
        // number
        return formatted.map((item, index, array) => index + 1 + '/ ' + item);
      } else {
        return formatted;
      }
    },
    imagesAdded(index, images) {
      // atattch images to the tweet
      // console.log({ tweet: this.isPostText[index], images: images })
      this.postDataObject[index.toString()] = this.postDataObject[index.toString()]
        ? this.postDataObject[index.toString()]
        : {};
      this.postDataObject[index.toString()].images = images;
    },
    doPosting() {
      if (!this.postText) {
        this.failError = 'Enter some text...';
        this.$modal.show('failedModal');
      } else {
        this.$modal.show('postingModal');
        const self = this;
        this.isLoading = true;
        axios({
          url: '/stormer',
          baseURL: self.live,
          method: 'post',
          timeout: 5000000,
          headers: {
            Authorization:
              'Bearer ' + window.localStorage.getItem('stormerAppToken')
          },
          data: {
            postData: self.postDataObject,
            interval: self.interval * 1000
          }
        })
          .then(response => {
            self.$ga.event({
              eventCategory: 'buttons',
              eventAction: 'click',
              eventLabel: 'postTweets',
              eventValue: 'success'
            });
            self.$modal.hide('postingModal');
            self.$modal.show('successModal');
            self.postDataObject = {};
            self.postText = null;
            self.isLoading = false;
          })
          .catch(error => {
            self.isLoading = false;
            self.$modal.hide('postingModal');
            self.failError = error.message;
            self.$modal.show('failedModal');
            self.$ga.event({
              eventCategory: 'buttons',
              eventAction: 'click',
              eventLabel: 'postTweets',
              eventValue: 'failed'
            });
          });
      }
    },
    numberToggle() {}
  },
  computed: {
    isPostText() {
      const toggleLength = this.toggleLength
      if (this.postText && this.postText.length > 0) {
        this.isActive = true;
        const prefferedLength = toggleLength ? 140 : 280
        const postText = this.formatPostText(this.postText, this.toggleNumber, prefferedLength);
        postText.map((item, index, array) => {
          this.postDataObject[index.toString()] = this.postDataObject[index.toString()]
            ? this.postDataObject[index.toString()]
            : {};
          this.postDataObject[index.toString()].tweet = item;
          return item;
        });
        for (const item in this.postDataObject) {
          if (parseInt(item) >= postText.length) {
            delete this.postDataObject[item.toString()]
          }
        }
        return postText;
      } else {
        this.isActive = false;
        return null;
      }
    }
  }
};
</script>

<style scoped>
.emptyPadding {
  padding: 8px;
  text-align: left;
  font-size: 1.25em !important;
  line-height: 32px;
}
textarea {
  font-size: 1.25em !important;
  line-height: 32px;
  background-color: #f8f9fa;
}

.displayOrNot {
  display: none;
}

/* input:focus, textarea:focus {
  outline-style: solid;
  outline-width: 2px;
} */

.navBottomFixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2000;
}

.navModBottom {
  height: 80px;
  background-color: #f8f9fa;
  z-index: 30;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn-post {
  margin-left: 5px;
  color: #fff;
  border-width: 0px;
  background: #4b4a77;
  transition: 0.3s;
}

.btn-post:hover {
  color: #fff;
  border-width: 0px;
  margin-top: -1px;
  box-shadow: 0 0 4px #4b4a77;
}

.form-label {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  width: 5em;
}
.postingModal {
  padding-top: 7em;
}

@media screen and (max-width: 840px) {
  .navBottomFixed {
    position: relative;
    right: 0px;
    z-index: 2000;
  }
  .navModBottom {
    height: 100px;
    background-color: #f8f9fa;
    z-index: 30;
  }
  .padBothSides {
    padding-left: 1em;
    padding-right: 1em;
  }
  .justifyContent {
    justify-content: center !important;
  }

  .removePadding {
    padding-left: 0em !important;
    padding-right: 0em !important;
    width: 100%;
  }
}
</style>
