<template>
<div class="container">
  <custom-header></custom-header>
  <div class="columns paddedPage marginTop">
    <div class="column heroSuper col-md-12">
      <div class="hero">
          <div class="heroContent text-center padBothSides">
            <h3>Privacy</h3>
          </div>
      </div>
    </div>
  </div>

  <div class="columns marginTop paddingTopBottom">
    <div class="column padBothSides paddingTopBottom col-md-12 alignCenter">
        <p class="alignCenter padBothSides">
            <strong>Stormer</strong> does not collect personal information like email addresses, however we collect your Twitter username and access tokens which we ONLY use to help you post tweets. We will not share these with any third party.
        </p>
    </div>
  </div>
  <custom-footer></custom-footer>
</div>
</template>

<script>
import CustomFooter from '@/components/CustomFooter'
import CustomHeader from '@/components/CustomHeader'
export default {
  components: {
    CustomFooter, CustomHeader
  },
  data () {
    return {
      userData: null
    }
  }
}
</script>

<style scoped>

.heroSuper {
  padding-left: 0px;
  padding-right: 0px;
}
.hero {
  background-color: floralwhite;
  background-image: url(/static/img/pattern21.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 12em;
}

.heroContent {
  padding-top: 4em;
}

.heroContent > h3 {
  font-size: 2em;
}

.heroContent > p {
  margin-bottom: 1.5em;
}
.alignCenter {
    text-align: center;
}

@media screen and (max-width: 840px) {
  .padBothSides {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

</style>
