<template>
  <div class="container">
      <p>{{tweet}}</p>
      <a class="img-link" @click="showDialog"><icon name="plus"></icon> add images</a>
      <input ref="uploadBtn" type="file" @change="previewImage" accept="image/*" style="display: none" multiple>
      <div class="image-preview" v-if="imageUrl.length > 0">
        <img v-for="(image, index) in imageUrl" v-bind:key="index" class="preview" :src="image">
      </div>
  </div>
</template>

<script>
import 'vue-awesome/icons/plus'

export default {
  name: 'tweet',
  props: ['tweet'],
  data () {
    return {
      imageUrl: []
    }
  },
  methods: {
    showDialog () {
      const elem = this.$refs.uploadBtn
      elem.click()
    },
    previewImage (event) {
      this.imageUrl = []
      // Reference to the DOM input element
      let input = event.target
      const setupReader = (file) => {
        let reader = new FileReader()
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.imageUrl.push(e.target.result)
        }
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(file)
      }
      if (input.files.length > 4) {
        // alert
        alert('Please select a maximum of 4 images')
      } else {
        for (var i = 0; i < input.files.length; i++) {
          setupReader(input.files[i])
        }
      }
    }
  },
  watch: {
    imageUrl () {
      this.$emit('imageadded', { images: this.imageUrl })
    }
  }
}
</script>

<style scoped>
a {
  color: #6889af;
  font-size: 10px !important;
  vertical-align: bottom;
  cursor: pointer !important;
}

p {
    line-height: 1.2rem;
    margin: 0;
}
.container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dfe2e4;
}

img.preview {
    width: 75px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px !important;
}
</style>
