<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>

.btn {
    border: .05rem solid #4b4a77;
}
#app {
  font-size: 16px;
  line-height: 24px;
  min-height:100%;
}
.padBothSides {
  padding-left: 10em;
  padding-right: 10em;
}

.padBothSidesReduce {
  padding-left: 8em;
  padding-right: 8em;
}

.padRight {
  padding-right: 12em;
}
.padLeft {
  padding-left: 12em;
}
.padLeftText {
  padding-left: 4.8em;
}
.padBothSidesALittle {
  padding-left: 1em;
  padding-right: 1em;
}
.paddingTopBottom {
  padding-top: 2em;
  padding-bottom: 4em;
}
.paddingBottom {
  padding-bottom: 2em;
}
.paddingBottomSmall {
  padding-bottom: 1em;
}
.paddingTop {
  padding-top: 2em;
}
.paddingTopBottomLittle {
  padding-top: 1em;
  padding-bottom: 1em;
}


.btn {
  margin-right: 0.2em;
}

@media screen and (max-width: 840px) {
.padBothSides {
  padding-left: 2em;
  padding-right: 2em;
}

.padBothSidesReduce {
  padding-left: 1em;
  padding-right: 1em;
}

.padRight {
  padding-right: 0em;
}
.padLeft {
  padding-left: 0em;
}
.padLeftText {
  padding-left: 0em;
}
.padBothSidesALittle {
  padding-left: 1em;
  padding-right: 1em;
}
.paddingTopBottom {
  padding-top: 2em;
  padding-bottom: 4em;
}
.paddingBottom {
  padding-bottom: 2em;
}
.paddingBottomSmall {
  padding-bottom: 1em;
}
.paddingTop {
  padding-top: 2em;
}
.paddingTopBottomLittle {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn {
  margin-right: 0.2em;
}
}
</style>
